{% extends 'base.html.twig' %}

{% block body %}
    <h1>Groupfilter</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ groupFilter.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ groupFilter.name }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ groupFilter.code }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('groupfilter_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('groupfilter_edit', { 'id': groupFilter.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
