{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>{{ module.name}}</h3>
                </div>
                <div class="panel-body tablepanel">
                    {% if module.allocationsForModule %}
                        {% include ':module:allocated.html.twig' %}
                    {% endif %}
                </div>
            </div>
        </div>
        {{ form_start(form) }}
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h2>Allocations</h2></div>
                <div class="panel-body tablepanel">
                    <table class="table table-striped allocations"
                           data-prototype="
                                {% filter escape %}
                                    {{ include(':allocationsformodule:prototype.item.html.twig', { 'form': form.allocationsForModule.vars.prototype }) }}
                                {% endfilter %}
                    ">
                        <thead>
                        <tr>
                            <th>
                                Staff
                            </th>
                            <th>
                                Allocated hours
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for allocationformodule in form.allocationsForModule %}
                            <tr class="rowbody">
                                <td >
                                    {{ form_widget(allocationformodule.staff) }}
                                </td >
                                <td width="20%">
                                    {{ form_widget(allocationformodule.allocatedHrs) }}
                                    {{ form_widget(allocationformodule.prepHrs) }}
                                    {{ form_widget(allocationformodule.assessmentHrs) }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                        {{ form_widget(form._token) }}
                        <div class="hidden">
                            {{ form_widget(form.code) }}
                            {{ form_widget(form.name) }}
                            {{ form_widget(form.term) }}
                            {{ form_widget(form.year) }}
                            {{ form_widget(form.credit) }}
                            {{ form_widget(form.studentNos) }}
                            {{ form_widget(form.preparationHrs) }}
                            {{ form_widget(form.assessmentHrs) }}
                            {{ form_widget(form.contactHrs) }}
                            {{ form_widget(form.studioRatio) }}
                            {{ form_widget(form.moduleCategory) }}
                            {{ form_widget(form.groupFactor) }}
                            {{ form_widget(form.course) }}
                            {{ form_widget(form.groupFilter) }}
                            {{ form_widget(form.assessmentCategory) }}
                            {{ form_widget(form.preparationCategory) }}
                            {{ form_widget(form.moduleLeader) }}
                            {{ form_widget(form.internalModerator) }}
                            {{ form_widget(form.internalModeratorHrs) }}
                            {{ form_widget(form.moduleLeaderHrs) }}
                        </div>
                </div>
            </div>
            <div class="btngroup">
                <button class="btn btn-primary" name="submit" type="submit">
                    <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
                    Save
                </button>
            </div>
        </div>
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('javascript/allocations.js') }}"></script>
{% endblock %}