{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Module details</h1>
                </div>
                <div class="panel-body"></div>
            </div>
            <div class="btn-group">
                {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Delete">
                <a class="btn btn-primary" href="{{ path('module_index') }}">Back to the list</a>
                <a class="btn btn-primary" href="{{ path('module_edit', { 'id': module.id }) }}">Edit</a>
                {{ form_end(delete_form) }}
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Details</h1>
                </div>
                <div id= "tablepanel" class="panel-body">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th width="30%">ID</th>
                            <td>{{ module.id }}</td>
                        </tr>
                        <tr>
                            <th>Code</th>
                            <td>{{ module.code }}</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>{{ module.name }}</td>
                        </tr>
                        <tr>
                            <th>Term</th>
                            <td>{{ module.term }}</td>
                        </tr>
                        <tr>
                            <th>Year</th>
                            <td>{{ module.year }}</td>
                        </tr>
                        <tr>
                            <th>Credit</th>
                            <td>{{ module.credit }}</td>
                        </tr>
                        <tr>
                            <th>Student Numbers</th>
                            <td>{{ module.studentNos }}</td>
                        </tr>
                        <tr>
                            <th>Preparation Hrs</th>
                            <td>{{ module.preparationHrs }}</td>
                        </tr>
                        <tr>
                            <th>Assessment Hrs</th>
                            <td>{{ module.assessmentHrs }}</td>
                        </tr>
                        <tr>
                            <th>Contact Hrs</th>
                            <td>{{ module.contactHrs }}</td>
                        </tr>
                        <tr>
                            <th>Studio Ratio</th>
                            <td>{{ module.studioRatio }}</td>
                        </tr>
                        <tr>
                            <th>Item</th>
                            <td>{{ module.item }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
