{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Module category details</h1>
                </div>
                <div class="panel-body"></div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Details</h1>
                </div>
                <div id= "tablepanel" class="panel-body">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th width="10%">ID</th>
                            <td>{{ moduleCategory.id }}</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>{{ moduleCategory.name }}</td>
                        </tr>
                        <tr>
                            <th>Code</th>
                            <td>{{ moduleCategory.code }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="btn-group">
                {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Delete">
                <a class="btn btn-primary" href="{{ path('modulecategory_index') }}">Back to the list</a>
                <a class="btn btn-primary" href="{{ path('modulecategory_edit', { 'id': moduleCategory.id }) }}">Edit</a>
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>

{% endblock %}


