{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>{{ phdStudent.name}}</h3>
                </div>
                <div class="panel-body tablepanel">
                    {% if phdStudent.allocationsForPhDStudent %}
                        {% include ':phdstudent:allocated.html.twig' %}
                    {% endif %}
                </div>
            </div>
        </div>
        {{ form_start(form) }}
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h2>Allocations</h2></div>
                <div class="panel-body tablepanel">
                    <table class="table table-striped allocations"
                           data-prototype="
                                {% filter escape %}
                                    {{ include(':allocationsformodule:prototype.item.html.twig', { 'form': form.allocationsForPhDStudent.vars.prototype }) }}
                                {% endfilter %}
                    ">
                        <thead>
                        <tr>
                            <th>
                                Staff
                            </th>
                            <th>
                                Allocated hours
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for allocationforphdstudent in form.allocationsForPhDStudent %}
                            <tr class="rowbody">
                                <td >
                                    {{ form_widget(allocationforphdstudent.staff) }}
                                </td >
                                <td width="20%">
                                    {{ form_widget(allocationforphdstudent.allocatedHrs) }}
                                    {{ form_widget(allocationforphdstudent.supportHrs) }}
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                        {{ form_widget(form._token) }}
                        <div class="hidden">
                            {{ form_widget(form.totalHrs) }}
                            {{ form_widget(form.name) }}
                            {{ form_widget(form.mode) }}
                        </div>
                </div>
            </div>
            <div>
                <button class="btn btn-primary" name="submit" type="submit">Save</button>
            </div>
        </div>
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('javascript/allocations.js') }}"></script>
{% endblock %}