{% extends '::base.html.twig' %}

{% block body %}
    <div class="well">

        <h1>Staff edit</h1>

        {{ form_start(edit_form) }}
        {{ form_row(edit_form.title) }}
        {{ form_row(edit_form.firstname) }}
        {{ form_row(edit_form.surname) }}

         <ul class="allocations"
            data-prototype="
                {% filter escape %}
                  {{ include(':allocations:prototype.html.twig', { 'form': edit_form.allocations.vars.prototype }) }}
                {% endfilter %}
            ">
        {% for allocation in edit_form.allocations %}
            {{ form_row(allocation.item) }}
            {{ form_row(allocation.allocatedHrs) }}
        {% endfor %}
        <input type="submit" value="Edit" />
        {{ form_widget(edit_form._token) }}
        </ul>
        {{ form_end(edit_form, {'render_rest': false}) }}



        <ul>
            <li>
                <a href="{{ path('index_staff') }}">Back to the list</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul>

{% endblock %}

{% block javascripts %}
  <script src="{{ asset('javascript/allocations.js') }}"></script>
{% endblock %}