<td width="8%">
    {{ re | number_format(2) }}
</td>
<td width="8%">
    {{ fst | number_format(2) }}
</td>
<td width="8%">
    {{ tra | number_format(2) }}
</td>
<td width="8%">
    {{ mgt | number_format(2) }}
</td>
<td width="8%">
    {{ admin | number_format(2) }}
</td>
<td width="8%" class="total">
    {{ total | number_format(2) }}
</td>