{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h1>Staff</h1></div>
            <div class="panel-body">
            </div>
        </div>
        <div>
            <a class="btn btn-primary" href="{{ path('index_staff') }}">Back to the List</a>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading"><h1>Create a staff record </h1></div>
            <div class="panel-body">
                <fieldset>
                    <legend>Add</legend>
                    {{ form_start(form) }}
                    {{ form_row(form.title) }}
                    {{ form_row(form.firstname) }}
                    {{ form_row(form.surname) }}
                    {{ form_row(form.fte) }}

                    <div class="hidden">
                        {{ form_rest(form) }}
                    </div>


                    <div class="text-right">
                        <input class="btn btn-primary" type="submit" value="Create" />
                    </div>
                    {{ form_end(form, {'render_rest': false}) }}
                </fieldset>
            </div>
        </div>
    </div>

{% endblock %}