{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default ">
                <div class="panel-heading">
                    <h3>{{ staff.title}}{{' '}}{{ staff.firstname}}{{' '}}{{ staff.surname }}</h3>
                </div>
                <div class="panel-body tablepanel">
                    {% if staff.allocationsForModule %}
                        {% include ':staff:staff.show.module.html.twig' %}
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('javascript/allocations.js') }}"></script>
{% endblock %}