{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h1>Item</h1></div>
            <div class="panel-body">
            </div>
        </div>
        <div>
            <a class="btn btn-primary" href="{{ path('item_index') }}">Back to the List</a>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading"><h1>Create an item </h1></div>
            <div class="panel-body">
                <fieldset>
                    <legend>Add</legend>
                    {{ form_start(form) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.code) }}
                    {{ form_row(form.category) }}
                    <div class="text-right">
                        <input class="btn btn-primary" type="submit" value="Create" />
                    </div>
                    {{ form_widget(form._token) }}
                    {{ form_end(form, {'render_rest': false}) }}
                </fieldset>
            </div>
        </div>
    </div>

{% endblock %}